<a href="https://colab.research.google.com/github/AmirGilbuena/58002_OOP/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

VARIABLES | DATA TYPES

Numbers

In [ ]:
varNum = 123
pi = 3.14159

Strings

In [ ]:
varString = "Hello World!"
varText = "This is a string"

Lists

In [ ]:
varList = ["abc",123]

Tuples

In [ ]:
varTuple = ["abc", 123, "HELLO"]

Dictionaries

In [ ]:
var = 3
varDict = {'first':1,'2':'2nd',3:var}
varDict = {}
varDict ['first'] = 1
varDict ['2'] = '2nd'
varDict [3] = var

# EXAMPLE

In [12]:
class Shape:
  def __init__(self, length, width):
    self.length = length
    self.width = width
    
  def area_rec(self):
    return self.length * self.width
   #def area_sqr(self,side):
     # return self.side *self.side

rectangle = Shape(10,5)
rectangle.area_rec()

50

Create a function that will display your full name and name your class as person

In [ ]:
class Shape:
  def __init__(self, length, width):
    self.length = length
    self.width = width
    
  def area_rec(self):
    return self.length * self.width
   #def area_sqr(self,side):
     # return self.side *self.side

rectangle = Shape(10,5)
rectangle.area_rec()

In [ ]:
class Person:
  def display_name(self):
    self.display_name = display_name

In [32]:
def personal_details():
    name, age = "Amir Gerald G. Gilbuena", 18
    address = "Quezon City, Novaliches"
    print("Name: {}\nAge: {}\nAddress: {}".format(name, age, address))


personal_details()

Name: Amir Gerald G. Gilbuena
Age: 18
Address: Quezon City, Novaliches

In [30]:
def name():
  return "Amir Gilbuena"
print("My name is "+ name())

My name is Amir Gilbuena