<a href="https://colab.research.google.com/github/AmirGilbuena/58002_OOP/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#LOOP STATEMENT

for "variable" in "list"

In [1]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday","Thursday","Friday","Saturday"]

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [3]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday","Thursday","Friday","Saturday"]

for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

To Display only Thursday

In [22]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday","Thursday","Friday","Saturday"]

for x in week:
  if x == "Thursday":
    print(x)
    break

Thursday

# LOOPING THROUGH A STRING

In [4]:
for x in "week":
  print (x)

w
e
e
k

#The range() Function

In [5]:
for x in range(6):
  print(x)
for x in range(2,6):
  print(x)

0
1
2
3
4
5
2
3
4
5

#NESTED LOOPS

In [6]:
adjective = ["red","big","tasty"]
fruits = ["apple","banana","cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

#EXAMPLE 5

In [7]:
i = 1
while i < 6:
  print(i)
  i+=1 #ASSIGNMENT OPERATOR

1
2
3
4
5

# THE BREAK STATEMENT

In [37]:
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

# THE CONTINUE STATEMENT

In [38]:
i=0
while i<6:
  i+=1
  if i==3:
    continue
  print(i)

1
2
4
5
6

# The else Statement

In [39]:
i = 1
while i < 6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Let's try

In [46]:
Greetings = ["Hello","Hi","Wsg"]
Count = ["0","1","2","3","4","5","6","7","8","9","10"]

for x in Greetings:
  for y in Count:
    print(x,y)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10
Hi 0
Hi 1
Hi 2
Hi 3
Hi 4
Hi 5
Hi 6
Hi 7
Hi 8
Hi 9
Hi 10
Wsg 0
Wsg 1
Wsg 2
Wsg 3
Wsg 4
Wsg 5
Wsg 6
Wsg 7
Wsg 8
Wsg 9
Wsg 10

In [56]:
for i in range(11):
  print("Hello", i)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [54]:
for x in "hello":
  print(x)

h
e
l
l
o

Let's try #2

In [48]:
i = 3
while i < 10:
  print(i)
  i+=1

3
4
5
6
7
8
9

In [57]:
for i in range (3,10):
  print(i)

3
4
5
6
7
8
9

In [55]:
s1 = "mit u rock"
s2 = "i rule mit"
if len(s1) == len(s2):
  for char1 in s1:
    for char2 in s2:
      if char1 == char2:
        print("common letter")
        break

common letter
common letter
common letter
common letter
common letter
common letter
common letter