<a href="https://colab.research.google.com/github/AmirGilbuena/58002_OOP/blob/main/OPERATIONS_AND_EXPRESSIONS_IN_PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

####Operations and Expressions in Python

Boolean Operators
- Booleans represent one of two values: True or false
- When you evaluate two values, The python evaluates and returns the Boolean answer

Type of Boolean functions

* Comparison/Relational
* Logical
* Identity

In [1]:
print (10 > 9)
print (10 == 9)
print (10 < 9)

True
False
False

In [3]:
a = 10
b = 9
print (a>b)
print (a<b)
print (a==b)
print (b==b)

True
False
False
True

Bool (function)

In [6]:
print (bool(1))
print (bool("I miss you"))
print (bool(0))
print (bool(None))
print (bool([]))

True
True
False
False
False

The bool function allows you to evaluate any value, and give you True or False in return,

In [ ]:
print (bool("Hello"))
print (bool(15))

Almost any value is ex

Functions can Return a Boolean

In [21]:
def myFunction():
  return True

  print(myFunction())

In [20]:
def myFunction():
  return True
if myFunction():
  print ("Yes!")
else:
  print ("No!")

No!

You can execute code based on the Boolean answer

In [22]:
print (10>9)

a=6
b=7
print (a==b)
print (a!=a)

True
False
False

Python Operators
* Operators are used to perform operations on variables and values.
* In the example below, use the + operator to add together two values:

In [25]:
print(10+5)
print(10-5)
print(10%5)
print(10//3)
print(10**2)
print(10/3)
print(10%3)

15
5
0
3
100
3.3333333333333335
1

Python Bitwise Operators
* Bitwise operators works on bits and performs bit-by-bit oepration. Assume if a = 60; and b = 13; now in binary format they will be as follows-

In [30]:
a = 60
b = 13

a >> 2

15

Python Assignment Operators

In [36]:
x=1
x += 3 # same as x = x + 3
print(x)
x -= 3 # same as x = x - 3
print(x)
x *= 3 # same as x = x * 3
print(x)
x /= 3 # same as x = x / 3
print(x)
x %= 3 # same as x = x % 3
print(x)

4
1
3
1.0
1.0

Logical Operators

In [39]:
x = True
y = False

In [40]:
print(x)

True

In [42]:
print(x and y)
print(x or y)
print(not (x or y))

False
True
False

Identity Operators

In [43]:
print(x is y)
print(x is not y)

False
True